.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: ease-in all 0.3s;
  width: 100%;
}

.header.fixed {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.header .first-div {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.header .first-div .user-display {
  position: relative;
  align-items: center;
  display: flex;
}

.header .first-div .user-display .avatar {
  align-items: center;
  display: flex;
}

.header .first-div .user-display .user-image {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.header .first-div .user-display .fa {
  color: #dbdbdb;
  margin: 0px 3px;
  font-size: 30px;
}

.header .first-div .user-display .dropdown {
  display: none;
  right: 0px;
  top: 34px;
  position: absolute;
  width: 200px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 25px;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.9s all;
}

.header .first-div .user-display .dropdown span {
  color: rgba(234, 25, 25, 0.7);
  font-weight: 800;
}

.header .first-div .user-display .dropdown hr {
  border: 1px solid rgb(214, 214, 214);
  margin: 10px 0px;
}

.header .first-div .user-display .dropdown .logout-link {
  color: black;
  font-size: 15px;
  font-weight: 400;
}

.header .first-div .user-display:hover .dropdown {
  display: block;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-around !important;
  width: 100%;
}

.navbar .nav-logo {
  width: 150px;
  height: 150px;
}

.navbar .nav-logo-contain {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar .item {
  transition: linear all 0.3s !important;
}

.navbar .item:nth-of-type(1) {
  order: 2;
}

.navbar .item:nth-of-type(2) {
  order: 1;
}

.navbar .item:nth-of-type(3) {
  order: 3;
}

.navbar .nav-menu {
  align-items: center;
  display: flex;
  transition: ease-in-out all 0.3s;
}

.navbar .nav-menu .link {
  color: #393939;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
  transition: ease-in-out all 0.3s;
  position: relative !important;
}

.navbar .nav-menu .link:hover {
  color: rgba(17, 55, 254, 0.7);
}

.navbar .nav-menu .link:hover::before {
  width: 80%;
}

.navbar .nav-menu .link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgba(17, 55, 254, 0.7);
  left: 0;
  right: 0;
  top: 25px;
  bottom: 0;
  transition: width 300ms ease-in-out;
}

.navbar .nav-menu .link.active {
  color: rgba(17, 55, 254, 0.7);
}

.navbar .nav-menu .link.active::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: rgba(17, 55, 254, 0.7);
  left: 0;
  right: 0;
  top: 25px;
  bottom: 0;
  transition: width 300ms ease-in-out;
}

.search-container {
  display: flex;
}

.search-container .search-input {
  font-weight: 500;
  color: #131212;
  background: none;
  border-bottom: 2px solid #f2f2f2;
}

.search-container .search-input::placeholder {
  font-weight: 800;
  font-size: 11px;
  line-height: 12px;
  color: #dbdbdb;
}

.search-container .search-icon {
  color: #dbdbdb;
  margin: 0px 5px;
  cursor: pointer;
  transition: ease all 0.3s;
}

.search-container .search-icon:hover {
  color: #f2f2f2;
}

.toggle-icon {
  display: none !important;
  color: #393939;
  cursor: pointer;
  display: none;
  font-size: 25px !important;
}

/* Landing page */
.main-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  height: 100vh;
}

.left_div {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.left_div .logo {
  width: 230px;
  height: 230px;
}

.content_div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
}

.content_div .top-links-contain {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}

.content_div .top-links-contain .rule {
  background: #dbdbdb;
  width: 2px;
  height: 18px;
}

.content_div .top-links-contain .link {
  font-family: Playfair Display;
  margin: 0 10px;
}

.content_div .cards-contain {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.divider {
  width: 900px;
  height: 2px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  margin: 25px auto;
}

.bottom-group {
  width: 100%;
}

.bottom-group .more-para {
  color: #5cc4b1;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.bottom-group .button-groups {
  display: flex;
  justify-content: space-between !important;
  /* overflow-wrap: break-word; */
}

.bottom-group .button-groups button {
  background: #f2f2f2;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 800;
  height: 31px;
  line-height: 17px;
  width: 129px !important;
  margin: 0px 10px;
}

/* Blogs */
.blog-slider {
  display: grid !important;
  grid-template-columns: 1.5fr 1fr;
  margin: 20px 0px;
  border-radius: 20px;
  width: 100%;
  overflow: hidden !important;
}

.blog-slider .blog-image-contain {
  /* width: 100%; */
  height: 365px;
}

.blog-slider .blog-image {
  width: 100%;
}

.blog-slider .text-div {
  background-color: #f2f2f2;
  height: 365px;
  padding: 80px 40px;
}

.blog-slider .text-div .carousel-text {
  color: black !important;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none !important;
  text-transform: uppercase !important;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-slider .text-div .slide-rule {
  width: 167px;
  height: 5px;
  background: #dbdbdb;
  border-radius: 20px;
  border: none;
  margin: 20px 0px;
}

.blog-slider .text-div .slide-para {
  color: #393939;
  display: -webkit-box;
  font-family: Playfair Display;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: justify;
  /* width: 250px; */
}

.news_feed_contain {
  margin: 10px 0px;
}

.news_feed_contain .head {
  align-items: center;
  display: flex;
  width: 100%;
}

.news_feed_contain .head h2 {
  color: rgba(17, 55, 254, 0.7);
  font-family: Montserrat;
  font-size: 32px;

  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  margin-right: 5px;
  text-align: left;
}

.news_feed_contain .head hr {
  background: #f2f2f2;
  border-radius: 20px;
  display: inline-block;
  height: 6px;
  margin-left: 20px;
  width: 840px;
}

.news_feed_contain .body {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.news_feed_contain .section1 .div1 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 12px 0px;
  padding: 8px;
}

.news_feed_contain .section1 .div1 .div1-image-contain {
  border-radius: 10px;
  /* height: 220px; */
  overflow: hidden;
}

.news_feed_contain .section1 .div1 img {
  width: 100%;
}

.news_feed_contain .section1 .div1 .text-div {
  margin: auto 20px;
}

.news_feed_contain .section1 .div1 .text-div .text-group-one {
  align-items: center;
  display: flex;
  margin: 5px 0px;
  justify-content: space-between;
  width: 180px;
}

.news_feed_contain .section1 .div1 .text-div .text-group-one .first-span {
  font-family: Montserrat;

  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: rgba(66, 232, 39, 0.7);
}

.news_feed_contain .section1 .div1 .text-div .text-group-one .second-span {
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #c4c4c4;
}

.news_feed_contain .section1 .div1 .text-div .blog-title {
  font-family: Montserrat;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.news_feed_contain .section1 .div1 .text-div .blog-para {
  font-family: Playfair Display;

  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #393939;
}

.news_feed_contain .section1 .div1 .text-div .tags-contain {
  align-items: center;
  display: flex;
}

.news_feed_contain .section1 .div1 .text-div .tags-contain .comment-contain {
  width: 51px;
  height: 19px;
  background: #f9f9f9;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
}

.news_feed_contain
  .section1
  .div1
  .text-div
  .tags-contain
  .comment-contain
  small {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  color: #393939;
}

.news_feed_contain .section2 {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: auto 0px;
}

.news_feed_contain .section2 .top-trend-text p {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #ea1919;
  margin-bottom: 20px;
}

.news_feed_contain .section2 .trends-container .trend {
  position: relative !important;
  cursor: pointer;
  border: 3px solid #e0e0e0;
  height: 68px;
  width: 100%;
  border-radius: 20px;
  margin: 15px 0;
  transition: ease-in-out 0.3s all;
}

.news_feed_contain .section2 .trends-container .trend:hover {
  transform: scale(1.1);
}

.news_feed_contain .section2 .trends-container .trend .trend-pic-contain {
  width: 100%;
  border-radius: 20px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.news_feed_contain .section2 .trends-container .trend img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -70px;
}

.news_feed_contain .section2 .trends-container .trend .trend-text {
  font-family: Montserrat;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  color: #000000;
  /*  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%); */
}

/* Blog on Id */
.blog-section {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.blog-section .blog-image-contain {
  height: 500px;
  border-radius: 10px !important;
  overflow: hidden;
  margin-bottom: 10px;
}

.blog-section img {
  border-radius: 10px !important;
  width: 100%;
}

.blog-section .blog-text-contain .blog-title {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  color: rgba(17, 55, 254, 0.7);
}

.blog-section .blog-text-contain .user-details-contain {
  align-items: center;
  color: #c4c4c4;
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

.blog-section .blog-text-contain .user-details-contain span {
  font-family: Playfair Display;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  margin: 0px 8px;
}

.blog-section .quote-div {
  background: transparent;
}

.blog-section .quote-div .quote .quote-sign {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 40px;
  color: #e5e5e5;
}

.blog-section .quote-div .quote {
  width: 700px;
  text-align: center;
  margin: 0px auto;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #393939;
}

.blog-section .blog-content {
  margin-top: 30px;
}

.blog-section .blog-content .para {
  font-family: "Playfair Display";
  margin: 15px 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #393939;
}

.comment-section {
  margin-top: 30px;
  padding-bottom: 40px;
}

.comment-section .comment-detail .comment-rule {
  height: 2px;
  background: #f2f2f2;
  border-radius: 20px;
}

.comment-section .comment-detail .content {
  align-items: center;
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}

.comment-section .comment-detail .content .item {
  margin: 0px 25px;
}

.comment-section .comment-detail .content .item .icon {
  color: #c4c4c4;
  cursor: pointer;
  margin-right: 10px;
}

.comment-section .comment-detail .content .item .text {
  font-family: inherit;

  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.comment-section .user_contain {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.comment-section .user_contain .user {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.comment-section .user_contain .user .user-rule {
  display: none;
}

.comment-section .user_contain .user .name-contain {
  margin-left: 15px;
}

.comment-section .user_contain .user .name-contain .username {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgba(17, 55, 254, 0.7);
}

.comment-section .user_contain .user .name-contain .comment {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  color: #393939;
}

.comment-section .user_contain .user .name-contain .reply .reply-link {
  color: #dbdbdb !important;
  font-size: 12px;
}

.comment-section .user_contain .user .name-contain .reply .reply-link:hover {
  text-decoration: underline;
}

.comment-section .user_contain .time-stamp {
  width: 120px;
  text-align: center;
  /* height: 19px; */
  background: rgba(196, 196, 196, 0.3);
  border-radius: 5px;
}

.comment-section .user_contain .time-stamp span {
  font-family: "Montserrat";

  font-weight: 800;
  font-size: 10px;
  color: #393939;
}

.comment-section .comment-box {
  margin-top: 30px;
  position: relative;
}

/* Blog on Category */
.blog-category-section .top-contain {
  margin-left: 70px;
}

.blog-category-section .top-contain .category {
  color: rgba(17, 55, 254, 0.7);
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  text-transform: capitalize !important;
  /* identical to box height */
}

.category-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.top-contain {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  /* Landing page */
  .main-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .left_div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: none;
  }

  .left_div .logo {
    width: 128px;
    height: 128px;
  }

  .left_div .top-links-contain {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
  }

  .left_div .top-links-contain a {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
  }

  .left_div .top-links-contain hr {
    width: 2px;
    height: 15px;
    background: #dbdbdb;
    border-radius: 10px;
  }

  .content_div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .toggle-icon {
    display: block !important;
  }

  .header {
    margin-bottom: 30px;
  }

  .navbar {
    box-shadow: 2px 7px 6px 0px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 7px 6px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 7px 6px 0px rgba(0, 0, 0, 0.28);
    display: block;
    height: 150px;
    width: 100%;
    z-index: 100;
  }

  .navbar .nav-logo-contain {
    align-items: center;
    display: flex !important;
    justify-content: space-between;
    padding: 0px 50px;
  }

  .navbar .nav-menu {
    align-items: flex-start;
    background: white;
    box-shadow: -1px 18px 16px -12px rgba(0, 0, 0, 0.397);
    flex-direction: column;
    left: 100%;
    padding: 10px 30px;
    position: relative;
    z-index: 100;
  }

  .navbar .nav-menu .link {
    margin: 15px 5px;
  }

  /* Blog on Id */
  .blog-section {
    padding: 20px;
  }

  .blog-section .blog-image-contain {
    height: fit-content;
    margin-bottom: 0px !important;
    margin: 0 !important;
    overflow: hidden;
  }

  .blog-section img {
    /*  object-fit: contain;
    border-radius: 10px !important;
    height: 300px; */
  }

  .blog-section .blog-text-contain .blog-title {
    font-weight: 800;
    font-size: 17px;
    text-align: center;
  }

  .blog-section .blog-text-contain .user-details-contain {
    align-items: center;
    color: #c4c4c4;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
  }

  .blog-section .blog-text-contain .user-details-contain span {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  .blog-section .quote-div {
    background: transparent;
  }

  .blog-section .quote-div .quote {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 243px;
    height: 66px;
  }

  .blog-section .quote-div .quote .quote-sign {
    font-size: 12px !important;
  }

  .blog-section .blog-content {
    margin-top: 30px;
    padding: 0px 10px;
  }

  .blog-section .blog-content .para {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #393939;
  }

  .comment-section {
    padding: 30px;
  }

  .comment-section .comment-detail .comment-rule {
    height: 2px;
    background: #f2f2f2;
    border-radius: 20px;
  }

  .comment-section .comment-detail .content {
    align-items: center;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
  }

  .comment-section .comment-detail .content .item {
    margin: 0px 25px;
  }

  .comment-section .comment-detail .content .item .icon {
    color: #c4c4c4;
    margin-right: 10px;
  }

  .comment-section .comment-detail .content .item .text {
    font-family: inherit;

    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;
  }

  .comment-section .user_contain {
    flex-direction: column;
  }

  .comment-section .user_contain .user .name-contain {
    margin-left: 0px;
    margin-top: 8px;
  }

  .comment-section .user_contain .user .name-contain .username {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(17, 55, 254, 0.7);
  }

  .comment-section .user_contain .user .icon_container {
    align-items: center;
    display: flex;
  }

  .comment-section .user_contain .user .name-contain .comment {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
    color: #393939;
  }

  .comment-section .user_contain .user .user-rule {
    background: #f2f2f2;
    border-radius: 20px;
    display: inline-block;
    height: 3px;
    margin-left: 10px;
    width: 400px;
  }

  .comment-section .user_contain .time-stamp {
    align-self: flex-start;
    margin-top: 4px;
    padding: 4px;
    width: fit-content;
  }

  .comment-section .user_contain .time-stamp span {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 10px;
    color: #393939;
  }

  .comment-section .comment-box {
    margin-top: 30px;
  }

  /* Blog on Category */
  .blog-category-section .top-contain {
    margin-left: 70px;
  }

  .blog-category-section .top-contain .category {
    color: rgba(17, 55, 254, 0.7);
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
  }

  .category-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .top-contain {
    margin-bottom: 20px;
  }

  .bottom-group .button-groups {
    flex-direction: column;
    justify-content: space-evenly !important;
    align-items: center;
  }

  .bottom-group .button-groups button {
    width: 50% !important;
    margin: 10px 0px;
  }

  /* Blogs */
  .carousel_contain {
    padding: 20px;
  }

  .blog-slider {
    border-radius: 0;
    display: flex !important;
    flex-direction: column;
    position: relative;
  }

  .blog-slider .blog-image {
    width: 100%;
  }

  .blog-slider .text-div {
    height: 100%;
    left: 20%;
    padding: 40px 30px;
    position: absolute;
    top: 20%;
    width: 100%;
  }

  .blog-slider .text-div .carousel-text {
    font-size: x-large;
    line-height: initial;
  }

  .blog-slider .text-div .slide-para {
    line-height: initial;
    width: 350px;
  }

  .news_feed_contain {
    margin-top: 20px;
  }

  .news_feed_contain .head h2 {
    margin-left: 20px;
  }

  .news_feed_contain .head hr {
    /* display: none; */
    margin-left: 10px;
    max-width: 100%;
    width: 200px;
  }

  .news_feed_contain .body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }

  .news_feed_contain .section1 .div1 img {
    object-fit: cover;
    /* width: 120px; */
    max-width: 40%;
    /* height: 120px; */
    border-radius: 10px;
  }

  .news_feed_contain .section1 .div1 .text-div {
    margin: auto 20px;
  }

  .news_feed_contain .section1 .div1 .text-div .text-group-one {
    align-items: center;
    display: flex;
    margin: 5px 0px;
    justify-content: space-between;
    width: fit-content;
  }

  .news_feed_contain .section1 .div1 .text-div .text-group-one .first-span {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    color: rgba(66, 232, 39, 0.7);
  }

  .news_feed_contain .section1 .div1 .text-div .text-group-one .second-span {
    font-family: Playfair Display;

    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #c4c4c4;
  }

  .news_feed_contain .section1 .div1 .text-div .blog-title {
    font-family: Montserrat;

    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }

  .news_feed_contain .section1 .div1 .text-div .blog-para {
    font-family: Playfair Display;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #393939;
  }

  .news_feed_contain .section1 .div1 .text-div .tags-contain {
    align-items: center;
    display: flex;
  }

  .news_feed_contain .section1 .div1 .text-div .tags-contain .comment-contain {
    width: 51px;
    height: 19px;
    background: #f9f9f9;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
  }

  .news_feed_contain
    .section1
    .div1
    .text-div
    .tags-contain
    .comment-contain
    small {
    font-family: Montserrat;

    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    color: #393939;
  }

  .news_feed_contain .section2 {
    margin: auto 0px;
  }

  .news_feed_contain .section2 .top-trend-text p {
    font-family: Montserrat;

    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #ea1919;
    margin-bottom: 20px;
  }

  .news_feed_contain .section2 .trends-container .trend {
    position: relative;
    border: 3px solid #e0e0e0;
    height: 68px;
    border-radius: 20px;
    margin: 15px 0;
    transition: ease-in-out 0.3s all;
  }

  .news_feed_contain .section2 .trends-container .trend:hover {
    transform: scale(1.1);
  }
}
